
h1, h2, a, p {
	text-align: center;
	font-family: "Futura", "Helvetica", "Arial", sans-serif;
}

h1 {
	margin: 70px 0;
	font-size: 2.4em;
}

p {
	font-size: 1.2em;
}

.caption {
	font-size: 1.4em;
	margin: 45px auto 15px auto;
}

.picture, .picture img {
	width: 700px;
	margin: 0 auto;
	display: block;
}

.picture img, img.picture {
	border-radius: 20px;
	border: 5px solid #222;
	box-shadow: 0px 3px 3px 2px rgba(140,140,140,.8);
}

.picture img:last-child, img.picture:last-child {
	margin-bottom: 50px;
}